h1{
    color: #000000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;

}

h2{
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  
}

h3{
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size:16px;
  text-align: center;
}

h4{
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size:40px;
  
}


h6{
    font-size: small;

}


body{
    background-color: #ffffff;

}

.carousel-control-prev {
    position: absolute;
    top: 40%; 
     z-index: 5;
    display: inline-block;
}
 
 .carousel-control-next {
    position: absolute;
    top: 40%; 
     z-index: 5;
    display: inline-block;
}

.carousel-inner {
    display: block;
    width: 100%;
    height: 260px;
    align-items: center;
}
.carousel-item {
    
    height: 100%;
    width: 100%;
}

nav.navbar {
    background-color: #000000;
    align-items: right;

    
  color: white;
}

a {
    height: 50%;
    color: white;
    padding: 15px;
}

footer {
	background-color:#1A1A1A;
	height: 50%;
  color: white;
  padding: 15px;
}

.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}

.tarjetas-somos {
    display: block;
    width: 50%;
    height: 160px;
    align-items: center;
}

table{

}



#caja {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }

  

.shop__thumb {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    -webkit-transition: border-color 0.1s, -webkit-box-shadow 0.1s;
         -o-transition: border-color 0.1s, box-shadow 0.1s;
            transition: border-color 0.1s, box-shadow 0.1s;
  }

  .shop__thumb:hover {
    border-color: rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
  }
  .shop__thumb > a {
    color: #333333;
  }
  .shop__thumb > a:hover {
    text-decoration: none;
  }
  .shop-thumb__img {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .shop-thumb__title {
    font-weight: 600;
  }
  .shop-thumb__price {
    color: #777777;
  }
  .shop-thumb-price_old {
    text-decoration: line-through;
  }
  .shop-thumb-price_new {
    color: red;
  }  





  .pagination {
    display: inline-block;
    
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    
  }
  
  .pagination a.active {
    background-color: #f54c2f;
    color: white;
    border: 1px solid #f54c2f;
    
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}